html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(184, 255, 103);
}
.main-div {
    margin: 300px auto;
    width: 500px;
}
.main input {
    width: 500px;
    font-size: 2.5rem;
    padding: 20px;
    border: none;
    border-radius: 10px 10px 0 0;
}
.main-div ul {
    background-color: rgb(245, 255, 103);
}
.main-div li{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    list-style: none;
    padding: 10px;
    border-top: 2px dashed rgb(186, 186, 186);
}
.main-div li p {
    margin-left: 10px;
}
.main-div button {
    cursor: pointer;
    border: none;
    font-size: 3rem;
    background: none;
    margin-right: 0;
    margin-left: 440px;
    position: absolute;
}
.main-div ul input {
    margin-left: auto;
    margin-right: 45px;
    width:  23px;     
    height: 23px;  
}